/* Back */

#background {
    /* background: linear-gradient(to right, #b92b27, #1565C0); */
    background-color: #5b507a;
    padding: 90px;
}

#back__container {
    /* background: linear-gradient(to right, #161616, #6152aa); */
    background-color: #28666e;
    box-shadow: 0px 0px 18px 8px rgba(0,0,0,0.75);
    margin: auto;
    padding: 2vh;
    border-radius: 15px;
}

@media screen and (max-width: 480px) {
    .background {
        font-size: 1rem;
    }
}