/* Education */

.education h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    padding: 2rem;
}

.education__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    background-color: #FFE6E8;
    box-shadow: -9px 13px 18px -5px rgba(0,0,0,0.75);
    border-radius: 30px;
    margin: 3vh;
    padding: 2vh;
    font-size: 2rem;
}

.education__card {
    /* align-items: center; */
    background-color: #ACD8AA;
    box-shadow: -9px 13px 18px -5px rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 30px;
    max-width: 1400px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.education__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

#uoft-logo, #eci-logo {
    width: 23%;
    padding-top: 2rem;
    padding-right: 2rem;
    float: right;
}

@media screen and (max-width: 768px) {
    .education__container {
        font-size: 60px;
    }
}