/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.intro__img--container {
    padding: 20px;
    text-align: center;
    background-color: #836fb4;
    box-shadow: -8px 12px 18px -5px rgba(0,0,0,0.75);
    border-radius: 50%;
}

.intro__img {
    height: 80%;
    width: 80%;
    /* border: 5px solid #836fb4; */
}

.intro__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
    /* font-family: 'Raleway'serif; */
}

/* Intro Mobile Support */

@media screen and (max-width: 768px) {
    .intro__heading {
        font-size: 60px;
    }
}

.contact {
    padding: 5vh;
}

.contact p {
    margin-bottom: 1.5rem;
}

.contact__container, .contact__btn {
    margin: auto;
    max-width: 100%;
    font-size: 2.7rem;
    text-decoration: none;
    color: #fff;
}

.contact__item a {
    text-decoration: none;
    color: #fff;
}

.contact__item:visited a {
    text-decoration: none;
    color: #fff;
}

.contact__btn {
    width: 100%;
    background: #836fb4;
    box-shadow: -8px 12px 18px -5px rgba(0,0,0,0.75);
    border: none;
    border-radius: 20px;
    margin-top: 2rem;
    padding: 5% 15%;
    transition: all 0.30s;
}

.contact__btn--container {
    display: flex;
}

.contact__btn:hover {
    background: #96c094;
    transition: all 0.30s;
    cursor: pointer;
}

/* Contact Mobile Support */

@media screen and (max-width: 768px) {
    .contact__container {
        font-size: 60px;
    }
}

/* Copy to Clipboard message */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}