/* Skills */

.skills {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.skills__container {
    background-color: #39918c;
    box-shadow: -8px 12px 18px -5px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    border-radius: 30px;
}

.skills__card {
    background-color: #836fb4;
    box-shadow: -6px 8px 18px -5px rgba(0,0,0,0.75);
    color: #fff;
    margin: 3.5rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50px;
}

.skills__img:hover {
    /* Increase Box Size When Hovering Over */
    transform: scale(1.025);
    transition: 0.2s ease-in;
    border: none;
}

.skills__card__title {
    padding: 1rem;
}

.skills__img {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    background-color: #28666e;
    box-shadow: -3px 4px 18px -5px rgba(0,0,0,0.75);
    transition: 0.2s ease-in;
    border: none;
}

.skills__png {
    /* width: 12.5rem; */
    height: 8rem;
    width: auto;
}

.skills h1 {
    font-size: 5rem;
    padding: 2rem;
}

.skills__container h3 {
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 1350px) {
    .skills__card {
        margin: 4.5rem;
        padding: 1.2rem;
    }

    .skills__container {
        grid-template-columns: 1fr 1fr;
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .skills__card {
        margin: 1.5rem;
        padding: 1.2rem;
        transform: scale(0.525);
    }

    .skills__container {
        grid-template-columns: 1fr 1fr;
        font-size: 60px;
        padding: 0;
        margin-top: 0;
        transform: scale(0.9);
    }
}

@media screen and (max-width: 480px) {
    .skills__card {
        margin: 1.5rem;
        padding: 1.2rem;
    }

    .skills__container {
        grid-template-columns: 1fr;
        font-size: 60px;
    }
}