/* Home, Contact, Skills, Experience, Projects, Education, Awards, More */

/* Navbar, Intro, Contact, Skills, Experience, Side Projects, Education, Distinctions, Hobbies */
/* Each one has mobile support after it */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* div {
    display: flex;
    justify-content: center;
} */

/* Navbar */

.navbar {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    /* width: 100%; */
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex; /*horizontal display*/
    align-items: center; /*move to center of navbar*/
    list-style: none; /*gets rid of bullet points in navbar*/
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none; /*gets rid of underlines*/
    height: 100%; /*centers words??*/
    transition: all 0.3s ease; /*words slowly come in and zoom in*/
}

.navbar__links:hover {
    color: #9518fc;
    /* transition: all 0.3s ease; */
}


/* Navbar Mobile Support */

@media screen and (max-width: 960px) {
    .navbar__container { /*same as above*/
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%; /*bring navbar dropdown to the center*/
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }

    .navbar__menu {
        display: grid; /*navbar becomes vertical*/
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; /*?*/
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh; /*size of black dropdown box*/
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Intro */
.intro {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.intro__img--container {
    text-align: center;
}

.intro__img {
    height: 80%;
    width: 80%;
}

.intro__heading {
    font-size: 100px;
    margin-bottom: 24px;
    /* color: #fff; */
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.intro__description {
    font-size: 2rem;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);

    /* to apply to letters and get rid of background */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlight { /*?*/
    border-bottom: 4px solid rgb(132, 0, 255);
}

/* Intro Mobile Support */

@media screen and (max-width: 768px) {
    .intro__heading {
        font-size: 60px;
    }

    .intro__description {
        font-size: 40px;
    }
}

/* Contact */

.contact {
    background: #8f0eff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 10rem;
}

.contact h1 {
    background-color: #fff;
    background-image: linear-gradient(to right, #ff0763 0%, #f7685c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 2.5rem;
    font-size: 5rem;
}

.contact p {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.clipboard {
    max-width: 100%;
    height:auto;
    transition: 0.05s ease-in;
}

.clipboard:hover {
    transform: scale(1.275);
    transition: 0.05s ease-in;
}

.contact__container {
    max-width: 100%;
    height:auto;
}

.contact__container:hover {
    max-width: 100%;
    height:auto;
}

/* Contact Mobile Support */

@media screen and (max-width: 768px) {
    .contact__container {
        font-size: 60px;
    }
}

/* Skills */

.skills {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.skills__list {
    list-style: none;
}

.skills__container {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.skills__card {
    background-color: #f7685c;
    color: #fff;
    margin: 7.5rem;
    padding: 1.2rem;
    height: auto;
    width: max-width;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in;
}

.skills__card:hover {
    /* Increase Box Size When Hovering Over */
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

.skills__img {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__png {
    height: auto;
    width: 8rem;
}

.skills h1 {
    font-size: 5rem;
    padding: 2rem;
}

.skills__container h3 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1350px) {
    .skills__card {
        margin: 4.5rem;
        padding: 1.2rem;
    }

    .skills__container {
        grid-template-columns: 1fr 1fr;
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .skills__card {
        margin: 1.5rem;
        padding: 1.2rem;
    }

    .skills__container {
        grid-template-columns: 1fr 1fr;
        font-size: 60px;
    }
}

/* Experience */

.experience {
    background-color: #fff;
    color:rgb(132, 255, 255);
}

.experience__container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.experience h1 {
    font-size: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience__card {
    margin: 2rem;
}

.experience__card h2 {
    margin: 1.1rem;
    font-size: 2.5rem;
}

.experience__card h3 {
    margin: 1.1rem;
    font-size: 2rem;
}

.experience__detail {
    margin: 1.1rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    .experience__container {
        font-size: 60px;
    }
}

/* Side Projects / Personal Projects */

.projects {
    color:#9518fc;
    background-color: #fff;
}

.projects h1 {
    font-size: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__container {
    background-color: #000;
}

.projects__item h2 {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

.projects__item p {
    font-size: 1.8rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

@media screen and (max-width: 768px) {
    .projects__container {
        font-size: 60px;
    }
}

/* Education */

.education {
    color:#9518fc;
    background-color: #fff;
}

.education h1 {
    font-size: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education__container {
    background-color: #000;
}

.education__container h2 {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

.education__container h3 {
    font-size: 2rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

.education__container p {
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

@media screen and (max-width: 768px) {
    .education__container {
        font-size: 60px;
    }
}

/* Distinctions */

.distinctions {
    color:#9518fc;
    background-color: #fff;
}

.distinctions h1 {
    font-size: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.distinctions__container {
    background-color: #000;
}

.distinctions__item h2 {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

.distinctions__item p {
    font-size: 1.8rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

@media screen and (max-width: 768px) {
    .distinctions__container {
        font-size: 60px;
    }
}

/* Hobbies */
/* More */

.more {
    color:#9518fc;
    background-color: #fff;
}

.more h1 {
    font-size: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more__container {
    background-color: #000;
}

.projects__container {
    background-color: #000;
}

.more__item p {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 1.2rem;
}

@media screen and (max-width: 768px) {
    .more__container {
        font-size: 60px;
    }
}

/* Footer */

.footer__container {
    color:#9518fc;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .footer__container {
        font-size: 60px;
    }
}